@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* ROOT */
:root {
  /* Colours */
  --error-red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --lightGrayishViolet: hsl(270, 3%, 87%);
  --darkGrayishViolet: hsl(279, 6%, 55%);
  --veryDarkViolet: hsl(278, 68%, 11%);
  --darkViolet: hsl(278, 38%, 25%);
  /* Typography */
  --font-body: 18px;
  --font-style: 'Space Grotesk',sans-serif;
  --font-bold: 500;
}

/* GLOBAL STYLES */
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
/* remove arrows on inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-image: url(../assets/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 30% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: var(--font-body);
  font-family: var(--font-style);
  font-weight: var(--font-bold);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1440px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CARDS */
/* FRONT */
.cards-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: calc(447px * 1.25)
}

.card-front {
  background-image: url(../assets/images/bg-card-front.png);
  width: 447px;
  height: 245px;
  padding: 25px;
  color: var(--white);
}

.card-front-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-number {
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: 1px 1px var(--darkGrayishViolet);
  margin-bottom: 30px;
}

.card-front-lower-details {
  display: flex;
  justify-content: space-between;
}

/* BACK */
.card-back {
  background-image: url(../assets/images/bg-card-back.png);
  width: 447px;
  height: 245px;
  position: relative;
  align-self: flex-end;
  margin-top: 35px;
}

.card-security {
  position: absolute;
  color: var(--white);
  top: 45%;
  right: 12%;
}

/* FORM */
form {
  padding: 5px;
  color: var(--veryDarkViolet);
  max-width: 447px;
  font-size: 16px;
}

input {
  margin: 10px 0 30px;
  width: 100%;
  color: var(--darkGrayishViolet);
  font-size: 18px;
  padding: 10px 0 8px 15px;
  border: 2px solid var(--lightGrayishViolet);
  border-radius: 8px;
  letter-spacing: 1px;
}

.form-lower-details {
  display: flex;
}

.input-dates {
  width: 50%;
}

.input-width {
  width: 45%;
}

input[type=submit] {
  background-color: var(--veryDarkViolet);
  color: var(--white);
  padding: 15px;
  border: none;
  font-family: var(--font-style);
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--darkViolet);
}

/* MODAL */
.modal {
  display: none;
}

/* FOOTER */
footer {
  margin-top: auto;
  padding: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}